body {
  background-color: #D6F2F9;
}

nav {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 10px 20px;
}

nav a:hover {
  color: white;
}

#section {
  background-color: #bcdee7;
  box-shadow: -5px 0 5px rgba(0,0,0,0.2);
  padding: 20px;
  margin: 20px;
}

footer {
  padding: 10px 20px;
  background: #5e7288;
  color: white;
}

